.row{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem
}

.row:nth-last-child(1){
    margin-bottom: 0rem;
}

.row__label{
    display: flex;
    align-items: center;
    width: 13rem;
    height: 2.5rem;
    color: #131313;
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 1.2375rem */
    text-transform: capitalize;
}

.row__data{
    margin-left:1.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row__data__value{
    color: #131313;
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 1.925rem */
}

.row__data__type{
    margin-left: 0.625rem;
    color: #898787;
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}